
.notification
  / チャットプループが更新されました
.wrapper
  = render 'shared/side_bar'
  .chat
    .header
      .left-header
        .left-header__title
          = @group.name
      %a.right-header__button{href: "/groups/#{@group.id}/edit" } Edit
      .left-header__members
        Member：
        %i
          Tanedamaru
    .messages.js-messages
      = render @messages

  .chat__footer
    .form.chat__footer-form
      = form_for [@group, @message] do |f|
        =f.text_field :content,id: 'message_content', class: 'form__message js-content', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image', for: "message_image" do
            =fa_icon 'picture-o', class: 'fas fa-image icon'
            =f.file_field :image,id: 'message_image', class: 'hidden js-file'
        = f.submit 'Send', id: 'form__button'

