!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:name => "csrf-param", :content => "authenticity_token"}
    %meta{:name => "csrf-token", :content => "qYdUHsFkwSnpq8UELykOmgzBfHp7jhtP456zStoRQ0YrulaeOqHb9hfs0zrsNXbkeo+0KdU6i+reCCK76AP/0g=="}
    / %link{:rel => "stylesheet", :media => "all", :href => "/assets/application-e66896919920db9cb5b5d601a817ab1099691bfddbbd355c65b549b11d7b1958.css"}
    / %script{:src => "/assets/application-11431a2aeef6ab6765ca93b518c6f8650fcffef3a41e7f77cc09f002e32bfd88.js"}
    %link{:rel => "stylesheet", :href => "https://use.fontawesome.com/releases/v5.3.1/css/all.css", :integrity => "sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU", :crossorigin => "anonymous"}
  %body
    = render 'layouts/notifications'
    / = render partial: 'layouts/flash'
    = yield
